/* Tron and Cyberpunk Theme Stylesheet */

/* Import a futuristic font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    color: #ffff; /* white color for text */
    background-color: #000; /* Dark background*/
    margin: 0;
    padding: 0;
    text-shadow: 0 0 15px var(--primary-color); /*Shadow for text readability*/
}

/* Theme colors - neon and dark shades */
:root {
    --primary-color: #08f; /* Bright blue - neon */
    --secondary-color: #f08; /* Bright pink - neon */
    --accent-color: #0f8; /* Bright green - neon */
    --dark-color: #111; /* Dark shade for backgrounds */
}

/* Navigation bar styles */
nav {
    background-color: transparent; /*var(--dark-color);*/
    padding: 1rem;
    text-align: center;
}

nav a {
    color: var(--primary-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--secondary-color);
}

/* Heading styles with neon glow */
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--primary-color);
}

/* Button styles with neon effect */
button {
    background-color: transparent;/*var(--dark-color);*/
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

/* Form styles */
input[type='text'], input[type='password'], select {
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
}

/* Footer styles */
footer {
    background-color: transparent; /*var(--dark-color);*/
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

/* Custom classes for Tron/Cyberpunk theme */
.bg-cyberpunk1 {
    background-image: url('../images/cyberpunk1.png');
    background-size: cover;
    background-position: center;
}

.bg-timeslip2 {
    background-image: url('../images/timeslip2.png');
    background-size: cover;
    background-position: center;
}

.bg-timecube3 {
    background-image: url('../images/timecube3.png');
    background-size: cover;
    background-position: center;
}

.bg-tron_road {
    background-image: url('../images/Tron_Matrix_Road2.png');
    background-size: cover;
    background-position: center;
}

.bg-cosmic_way {
    background-image: url('../images/cosmicmilkyway.png');
    background-size: cover;
    background-position: center;
}

.text-glow {
    text-shadow: 0 0 10px var(--accent-color);
}

/* Responsive design breakpoints */
@media screen and (max-width: 768px) {
    nav a {
        margin: 0 10px;
        font-size: 1rem;
    }
}
