/* Cosmic Time Space Design */
/* Main font style - professional and clean */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E0E0E0; /* Light grey color for text */
    background-color: #0D1B2A; /* Deep space blue for background */
    margin: 0;
    padding: 0;
}

/* Cosmic theme colors */
:root {
    --primary-color: #778BEB; /* Soft blue for primary elements */
    --secondary-color: #E0E2F9; /* Lighter blue for secondary elements */
    --accent-color: #FFD700; /* Gold color for accents and highlights */
}

/* Navigation bar styles */
nav {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

nav a {
    color: var(--accent-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
}

/* Button styles */
button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Form styles */
input[type='text'], input[type='password'], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    box-sizing: border-box;
}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Custom classes for cosmic theme */
.bg-space {
    background-image: url('../images/cosmic_vortex.png');
    background-size: cover;
    background-position: center;
}
.bg-cosmic_hole {
    background-image: url('../images/cosmictimesingularity.png');
    background-size: cover;
    background-position: center;
}

.bg-cosmic_ocean {
    background-image: url('../images/oceanblackhole.png');
    background-size: cover;
    background-position: center;
}

.text-glow {
    text-shadow: 0 0 10px var(--accent-color);
}

/* Responsive design breakpoints */
@media screen and (max-width: 768px) {
    nav a {
        margin: 0 10px;
        font-size: 1rem;
    }
}
