{% extends 'base.html' %}
{% block content %}
<main>
    <div class="login-form">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
           <div>
              <label for="id_username">Username:</label>
              <input type="text" name="username" id="id_username" required>
           </div>
           <div>
              <label for="id_password">Password:</label>
              <input type="password" name="password" id="id_password" required>
           </div>
           <button type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock %}
