{% extends 'base.html' %}
{% block content %}
<main>
    <div class="signup-form">
        <h1>Signup</h1>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
    </div>
</main>
{% endblock %}
