{% extends 'base.html' %}
{% block content %}
    <title>"Create a new task"</title>
    <main>
        <div class="bg-cosmic_way task-form">
            <h1>"Create a new task"</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
{% endblock %}
