{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="bg-timeslip2 my-task-list">
        {% if tasks %}
            <h1>My Task</h1>
            <form action="{% url 'update_task_status' %}" method="post">
                {% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}

                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date:"Y-m-d" }}</td>
                                <td>{{ task.due_date|date:"Y-m-d" }}</td>
                                <td><input type="checkbox" name="task_completed_{{ task.id }}"
                            {% if task.is_completed %}checked{% endif %}>
                            <label for="task_completed_{{ task.id }}">{{ task.name }}</label></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Update Tasks">
            </form>
    {% else %}
            <h1>
                <p>"You have no tasks."</p>
            </h1>
    {% endif %}
        </div>
    </main>
{% endblock %}
