{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="bg-tron_road create-project">
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
            <div>
                <label for="id_name">Name:</label>
                {{ form.name.errors }}
                {{ form.name }}
            </div>
            <div>
                <label for="id_description">Description:</label>
                {{ form.description.errors }}
                {{ form.description }}
            </div>
            <div>
                <label for="id_owner">Owner:</label>
                {{ form.owner }}
                {{ form.owner.errors }}
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</main>
{% endblock %}
