{% extends 'base.html' %}
{% block content %}
    <title>"My Projects!"</title>
    <main>
        <div class="bg-timecube3 project-list">
            <h1>My Projects</h1>
            <nav>
                <p>
                    <a href="{% url 'create_project' %}">"Create a new project"</a>
                </p>
            </nav>
                        {% if projects %}
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Number of tasks</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td><a href="{% url 'show_project' id=project.id %}">{{ project.name }}</a></td>
                                <td><p>Number of tasks: {{ project.tasks.all|length }}</p></td><!--Task to be filled in later-->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
                <p>You are not assigned to any projects</p>
                <p>{{ message }}</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
